input[type="text"], input[type="password"] {
    border: 1px solid #dcdfe6;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    text-indent: 1em;
    color: #606266;
    font-family: "PingFangSC-Medium";
}

input[type="text"]:hover, input[type="password"]:hover {
    border-color: #c0c4cc;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #ccc;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #00a1d6;
}

button {
    height: 40px;
    background: #00a1d6;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #33b4de;
    border-color: #33b4de;
}

button.fill {
    width: 100%;
}